* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}
body {
  background: var(--platform-aliases-background, #121214);
  font-size: 1.6rem;
  font-family: Mulish;
  font-weight: 600;
}
img {
  width: 100%;
}
h1 {
  color: #02799d;
  font-size: 5.8287rem;
  font-weight: 900;
}
h2 {
  color: #e1e1e6;
  font-size: 3.2rem;
  padding: 2.5rem 3.2rem 2.4rem;
}
p {
  color: #c4c4cc;
  padding: 0rem 3.2rem 3.2rem;
  font-size: 1.9381rem;
}
.conteiner {
  display: grid;
  width: 100%;
  margin: auto;
  gap: 4.4rem;
  padding-bottom: 14.0rem;
}
.conteiner header {
  margin: 7.3rem 10rem 4.4rem 10rem;
}
.conteiner header h2{
  padding: 0.8rem 0rem 0rem;
}
.box {
  display: grid;
  gap: 6rem;
  margin: 0rem 10rem 0rem;
  grid-template-columns: repeat(3, 1fr);
}
.item {
  border-radius: 8px;
  border: 2px solid #323238;
  background: #202024;
}
@media(max-width: 1000px){
  .box {
    gap: 6rem;
    margin: 0rem 10rem 0rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .box > div:nth-child(3){
    grid-column: 1/-1;
  }
}
@media(max-width: 750px){
  .box {
    gap: 6rem;
    margin: 0rem 10rem 0rem;
    grid-template-columns: 1fr;
  }
}
@media(max-width: 450px){
  .conteiner {
    display: grid;
    width: 100%;
    margin: auto;
    gap: 4.4rem;
    padding-bottom: 7.3rem;
  }
  .conteiner header {
    margin: 7.3rem 4.0rem 4.4rem;
  }
  .box{
    margin: 0rem 4.0rem 0rem;
  }
  h1 {
    font-size: 4.8287rem;
  }
}